<div class="login-container bg-blue-500 w-full min-h-screen flex items-center justify-center">
  <span class="absolute top-0 left-0 mt-5 ml-5">
    <a href="/home" class="text-white">
      <i class="fa fa-home font-light text-3xl me-2" aria-hidden="true"></i> Home
    </a>
  </span>
  <!-- <div class="login-content bg-white w-1/3 flex flex-col rounded-lg shadow-md p-12"> -->
  <div class="lg:w-3/12  p-10 bg-white rounded-lg shadow-md mx-auto gap-2">
    <p class="title text-4xl font-bold text-center mb-4">Register</p>
    <p class="title-intro text-2xl font-bold text-center">Your Account!</p>

    <!-- Form Content Here -->
    <form class="w-full flex-col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <!-- <label for="full_name" class="block text-gray-700 text-sm font-bold mb-2">Full Name</label> -->
        <input type="text" id="firstName" formControlName="firstName" placeholder="Enter first name"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               [ngClass]="{
                'border-red-500': submitted && f['firstName'].errors,
                'border-green-700': f['firstName'].valid && !f['firstName'].pristine
                }">
        <div *ngIf="submitted && f['firstName'].errors" class="text-red-500 text-xs italic mt-2">
          <div *ngIf="f['firstName'].errors['required']">First name is required</div>
        </div>
      </div>

      <div class="mb-4">
        <!-- <label for="full_name" class="block text-gray-700 text-sm font-bold mb-2">Full Name</label> -->
        <input type="text" id="lastName" formControlName="lastName" placeholder="Enter last name"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               [ngClass]="{
                'border-red-500': submitted && f['lastName'].errors,
                'border-green-700': f['lastName'].valid && !f['lastName'].pristine
                }">
        <div *ngIf="submitted && f['lastName'].errors" class="text-red-500 text-xs italic mt-2">
          <div *ngIf="f['lastName'].errors['required']">Last name is required</div>
        </div>
      </div>

      <div class="mb-4">
        <!-- <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label> -->
        <input type="email" id="email" formControlName="email" placeholder="Enter email"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               [ngClass]="{
                'border-red-500': submitted && f['email'].errors,
                'border-green-700': f['email'].valid && !f['email'].pristine
               }">
        <div *ngIf="submitted && f['email'].errors" class="text-red-500 text-xs italic mt-2">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email should be valid</div>
        </div>
      </div>

      <div class="mb-4">
        <!-- <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label> -->
        <input type="password" id="password" formControlName="password" placeholder="Enter password"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               [ngClass]="{
                'border-red-500': submitted && f['password'].errors,
                'border-green-700': f['password'].valid && !f['password'].pristine
                }">
        <div *ngIf="submitted && f['password'].errors" class="text-red-500 text-xs italic mt-2">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
        </div>
      </div>

      <div class="mb-4">
        <!-- <label for="confirm_password" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label> -->
        <input type="password" id="confirm_password" formControlName="confirm_password" placeholder="Enter confirm password"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               [ngClass]="{
                'border-red-500': submitted && f['confirm_password'].errors,
                'border-green-700': f['confirm_password'].valid && !f['confirm_password'].pristine
              }">
        <div *ngIf="submitted && f['confirm_password'].errors" class="text-red-500 text-xs italic mt-2">
          <div *ngIf="f['confirm_password'].errors['required']">Confirm Password is required</div>
          <div *ngIf="f['confirm_password'].errors['confirmPasswordValidator']">Confirm Password should be same as password</div>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <input type="submit" value="Register" class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
      </div>
    </form>


    <div class="flex justify-center font-medium mt-5">Already have an account?
      <span><a href="/auth/login" class="text-blue-600 ml-2 cursor-pointer">Login</a></span>
    </div>

    <div class="or-line-divider border-t border-gray-200 relative my-5">
      <p class="absolute bg-white px-2 text-center" style="left: 50%; transform: translateX(-50%);">Or</p>
    </div>
  </div>
</div>
