<header class="background-coal">
  <div class="hero background-sf-paper is-large">
    <h1 class="text-headline hero-logo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu viverra sem.
    </h1>
    <p>Nam nec fermentum tellus, ut consectetur mi. Mauris fermentum tempus risus in finibus. </p>
  </div>
</header>



<div class="demo">
  <div class="floor isometric">
    <div class="appBar"><i class="material-icons md-light md-24" id="drawerOpener">menu</i></div>
    <div class="content">
      <div class="card"></div>
      <div class="card"></div>
    </div>
    <div class="fab dialogOpener toasted"></div>
    <div class="button dialogOpener"></div>
    <div class="dialogContainer hidden" id="dialog">
      <div class="dialog"></div>
    </div>
    <div class="drawerContainer hidden" id="drawer">
      <div class="drawer">
        <div class="header"></div>
      </div>
    </div>
  </div>
</div>
<div class="desc">
  <h1>Material Design Elevation</h1>
  <p>Based on values from the<a href="https://www.google.com/design/spec/what-is-material/elevation-shadows.html#elevation-shadows-elevation-android-" target="_blank">Google Design Guidelines.</a>Try clicking things!</p>
  <p>Created by <a href="https://twitter.com/Nathanielnw" target="_blank">nathanielnw</a></p>
</div>
