<!-- Section 1 -->
<div class="bg-white flex justify-start items-center min-h-screen">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <h1 class="text-2xl font-normal leading-8 text-left mx-auto w-11/12 lg:w-1/2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu viverra sem.
    </h1>
    <p class="mt-4 mx-auto w-11/12 lg:w-1/2 text-right">
      Nam nec fermentum tellus, ut consectetur mi. Mauris fermentum tempus risus in finibus.
    </p>
  </div>
</div>
