//Core files
@import './variable';

.background-sky {
  background-color: #0143A3;
  background: linear-gradient(#0143A3, #0273D4);
  color: #FFFFFF;
}
.background-regal {
  background: #0273D4;
  color: #FFFFFF;
}
.background-coal {
  background: #000000;
  color: #FFFFFF;
}
.background-steel {
  background: #253238;
  color: #FFFFFF;
}
.background-silver {
  background: #36474F;
  color: #FFFFFF;
}
.background-grey {
  background: #B2EBF2;
  color: #000000;
}
.background-white {
  background: #ffffff;
  color: #000000;
}
.background-sf-paper {
  background: url('/resources/images/backgrounds/sf-paper.png') bottom center no-repeat;
  background-size: 100%;
  background-position: fixed;
}
.invalid-feedback{
  color: #c90000;
}


label {
  color: $dark-primary-color;
}
input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password] {
border: 1px solid #c0c0c0;
transition: .2s;
}

input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=password]:hover {
border-color: $dark-primary-color;
border-radius: 3px;
outline: none;
transition: all .2s ease-in-out;
}

input[type=submit] {
border: none;
background: $indigo;
color: white;
font-weight: bold;
transition: 0.2s;
margin: 20px 0px;
}

input[type=submit]:hover {
background: $dark-primary-color;//#F44336;
}

form{
  .is-valid {
    border-color: $green;
    border-radius: 3px;
    outline: none;
    transition: all .2s ease-in-out;
  }
  .is-invalid {
    border-color: $red;
    border-radius: 3px;
    outline: none;
    transition: all .2s ease-in-out;
  }
}

