$light-primary-color: #CBCBE4;
$dark-primary-color: #372E51;
$dark-yellow: #f9CB5D;
$grey-color: #D9D9D9;
$light-grey-color: #F4F5F7;
$white-color: FFFFFF;

$font_size34: 34px;
$font_size24: 24px;
$font_size20: 20px;
$font_size16: 16px;
$font_size12: 12px;
