@import '../../../theme/theme.scss';
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-content{
    // background-color: $white-color;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    padding: $padding50;

    // .links {
    //   display: table;
    //   width: 100%;
    //   box-sizing: border-box;
    //   border-top: 1px solid #c0c0c0;
    //   margin-bottom: 10px;
    // }

    // .links a {
    //   display: table-cell;
    //   padding-top: 10px;
    // }

    // .links a:first-child {
    //   text-align: left;
    // }

    // .links a:last-child {
    //   text-align: right;
    // }
  }
  .title{
    font-size: $font-size34;
    font-weight: bold;
    text-align: center;
    margin-bottom: $padding16;
  }
  .title-intro{
    font-size: $font_size24;
    font-weight: bold;
    text-align: center;
  }
  .forgot-label{
    font-size: $font_size16;
    color: $primary-color;
    text-align: center;
  }
  .alternative{
    font-weight: 500;
    text-align: center;
    span{
      color: $primary-color;
    }
  }

  .or-line-divider{
    border-top: $thin-border;
    position: relative;
    margin-top: $padding20;
    p {
      position: absolute;
      background: $white-color;
      width: 50px;
      transform: translate(-50%,-50%);
      text-align: center;
      left: 50%;
    }
  }

}
