<div class="login-container">
  <div class="login-content">
    <p class="title">Login</p>
    <p class="title-intro">Welcome back!</p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <!-- <section>
      <div>
        <h2>Login</h2>
        <p>Please enter your login details.</p>
      </div>
      <div>
        <input type="text"/>
        <label>Email</label>
      </div>
      <div>
        <input type="password"/>
        <label>Password</label>
      </div>
      <p><a href="#">Forgot password</a></p>
      <button>Login</button>
      <button>Logout</button>
    </section> -->
  </div>
</div>
