<form>
  <div class="login-container">
    <div class="login-content">
      <p class="title">Login</p>
      <p class="title-intro">Welcome back!</p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <p class="forgot-label">Forgot Password</p>

      <p class="alternative">Don't have an account? <span><a routerLink="/auth/register">Signup</a></span></p>

      <div class="or-line-divider">
        <p>Or</p>
      </div>
    </div>
  </div>
</form>
