@import '../../../theme/theme.scss';
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .title{
    font-size: $font-size34;
    font-weight: bold;
  }
  .title-intro{
    font-size: $font_size24;
    font-weight: bold;
  }
  .login-content{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}
