<header class="background-sky">
  <div class="hero background-sf-paper is-large">
    <h1 class="text-headline hero-logo">
      Angular is a development platform for building mobile and desktop web applications
    </h1>
    <div class="hero-cta">
      <a class="md-raised button button-large button-plain
      md-button md-default-theme" ng-transclude=""  md-button="md-button">
        <span class="ng-scope">Learn in 5 mins</span>
      </a>
      <a class="button button-large button-navy
      md-button md-default-theme" ng-transclude="" md-button="md-button">
        <span class="ng-scope">Download</span>
      </a>
    </div>

  </div>
</header>
