<!-- Section 1 -->
<div class="bg-sky-400 flex justify-center items-center min-h-screen">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <h1 class="text-2xl font-normal leading-8 text-center mx-auto w-11/12 lg:w-1/2">
      Angular is a development platform for building mobile and desktop web applications
    </h1>
    <div class="mt-6">
      <a href="#" class="inline-block py-3 px-6 text-sm font-medium text-uppercase overflow-hidden rounded-lg bg-white text-gray-800 mr-2">
        Learn in 5 mins
      </a>
      <a href="#" class="inline-block py-3 px-6 text-sm font-medium text-uppercase overflow-hidden rounded-lg bg-blue-800 text-white">
        Download
      </a>
    </div>
  </div>
</div>

<!-- Section 2 -->
<div class="bg-white flex justify-center items-center min-h-screen">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <h1 class="text-2xl font-normal leading-8 text-center mx-auto w-11/12 lg:w-1/2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu viverra sem.
    </h1>
    <p class="mt-4 mx-auto w-11/12 lg:w-1/2 text-center">
      Nam nec fermentum tellus, ut consectetur mi. Mauris fermentum tempus risus in finibus.
    </p>
  </div>
</div>
