<div class="main-footer">
  <nav class="background-silver grid-fluid">
    <div class="c3 main-footer-branding">
      <div class="logo-inverse-large"></div>
    </div>
    <div class="c2">
      <h3 class="text-headline">LIBRARIES</h3>
      <ul class="text-body">
        <li><a href="/"> Libraries 1</a></li>
        <li><a href="/"> Libraries 2</a></li>
        <li><a href="/"> Libraries 3</a></li>
        <li><a href="/"> Libraries 4</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">LEARN</h3>
      <ul class="text-body">
        <li><a href="/"> Learn 1</a></li>
        <li><a href="/"> Learn 2</a></li>
        <li><a href="/"> Learn 3</a></li>
        <li><a href="/"> Learn 4</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">HELP</h3>
      <ul class="text-body">
        <li><a href="/"> Help 1</a></li>
        <li><a href="/"> Help 2</a></li>
        <li><a href="/"> Help 3</a></li>
        <li><a href="/"> Help 4</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">COMMUNITY</h3>
      <ul class="text-body">
        <li><a href="/"> Community 1</a></li>
        <li><a href="/"> Community 2</a></li>
        <li><a href="/"> Community 3</a></li>
        <li><a href="/"> Community 4</a></li>
      </ul>
    </div>
  </nav>
  <footer class="background-steel">
    <small class="text-caption">Powered by ©2024.
    </small>
  </footer>
</div>
