<div class="main-footer">
  <!-- <nav class="bg-gray-500 grid grid-cols-5 gap- p-12"> -->
  <nav class="bg-gradient-to-tr from-gray-700 via-gray-600 to-gray-500 grid grid-cols-5 gap-4 p-12">

    <div class="col-span-1">
      <!-- <div class="bg-no-repeat bg-center h-48 w-48"> -->

          <span class="text-gray-300  flex justify-center items-center">
            <i class="fa fa-truck font-light text-9xl" aria-hidden="true"></i>
          </span>
      <!-- </div> -->
    </div>
    <div class="col-span-1">
      <h3 class="text-xl font-semibold mb-4">LIBRARIES</h3>
      <ul>
        <li><a href="/" class="text-gray-400 hover:underline">Libraries 1</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Libraries 2</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Libraries 3</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Libraries 4</a></li>
      </ul>
    </div>
    <div class="col-span-1">
      <h3 class="text-xl font-semibold mb-4">LEARN</h3>
      <ul>
        <li><a href="/" class="text-gray-400 hover:underline">Learn 1</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Learn 2</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Learn 3</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Learn 4</a></li>
      </ul>
    </div>
    <div class="col-span-1">
      <h3 class="text-xl font-semibold mb-4">HELP</h3>
      <ul>
        <li><a href="/" class="text-gray-400 hover:underline">Help 1</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Help 2</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Help 3</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Help 4</a></li>
      </ul>
    </div>
    <div class="col-span-1">
      <h3 class="text-xl font-semibold mb-4">COMMUNITY</h3>
      <ul>
        <li><a href="/" class="text-gray-400 hover:underline">Community 1</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Community 2</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Community 3</a></li>
        <li><a href="/" class="text-gray-400 hover:underline">Community 4</a></li>
      </ul>
    </div>
  </nav>
  <footer class="bg-gray-800 text-center p-4">
    <small class="text-sm text-gray-400">Powered by ©2024.</small>
  </footer>
</div>


<!-- <nav class="row-auto w-full p-5 flex justify-evenly items-center bg-gray-600 shadow-lg">
  <div class="col-span-4 float-left text-gray-300">
    <span class="mb-5 text-2xl line-clamp-1 font-medium">LIBRARIES</span>
    <ul class="text-lg font-medium">
      <li><a href="/"> Libraries 1</a></li>
      <li><a href="/"> Libraries 2</a></li>
      <li><a href="/"> Libraries 3</a></li>
      <li><a href="/"> Libraries 4</a></li>
    </ul>
  </div>
  <div class="col-span-4 float-left text-gray-300">
    <span class="mb-5 text-2xl line-clamp-1 font-medium">LABS</span>
    <ul class="text-lg font-medium">
      <li><a href="/">Labs 1</a></li>
      <li><a href="/">Labs 2</a></li>
      <li><a href="/">Labs 3</a></li>
      <li><a href="/">Labs 4</a></li>
    </ul>
  </div>
  <div class="col-span-4 float-left text-gray-300">
    <span class="mb-5 text-2xl line-clamp-1 font-medium">COMMUNITY</span>
    <ul class="text-lg font-medium">
      <li><a href="/">Community 1</a></li>
      <li><a href="/">Community 2</a></li>
      <li><a href="/">Community 3</a></li>
      <li><a href="/">Community 4</a></li>
    </ul>
  </div>
  <div class="col-span-4 float-left text-gray-300">
    <span class="mb-5 text-2xl line-clamp-1 font-medium">HELP</span>
    <ul class="text-lg font-medium">
      <li><a href="/">Help 1</a></li>
      <li><a href="/">Help 2</a></li>
      <li><a href="/">Help 3</a></li>
      <li><a href="/">Help 4</a></li>
    </ul>
  </div>
</nav>
<footer class="w-full h-8 bottom-0 justify-between items-center bg-gray-900">
  <span class="text-gray-400 h-7 flex justify-center items-center">MEAN Stack ©2024</span>
</footer> -->


<!-- <div class="main-footer">
  <nav class="background-silver grid-fluid">
    <div class="c3 main-footer-branding">
      <div class="logo-inverse-large"></div>
    </div>
    <div class="c2">
      <h3 class="text-headline">LIBRARIES</h3>
      <ul class="text-body">
        <li><a href="/"> Libraries 1</a></li>
        <li><a href="/"> Libraries 2</a></li>
        <li><a href="/"> Libraries 3</a></li>
        <li><a href="/"> Libraries 4</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">LEARN</h3>
      <ul class="text-body">
        <li><a href="/"> Learn 1</a></li>
        <li><a href="/"> Learn 2</a></li>
        <li><a href="/"> Learn 3</a></li>
        <li><a href="/"> Learn 4</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">HELP</h3>
      <ul class="text-body">
        <li><a href="/"> Help 1</a></li>
        <li><a href="/"> Help 2</a></li>
        <li><a href="/"> Help 3</a></li>
        <li><a href="/"> Help 4</a></li>
      </ul>
    </div>
    <div class="c2">
      <h3 class="text-headline">COMMUNITY</h3>
      <ul class="text-body">
        <li><a href="/"> Community 1</a></li>
        <li><a href="/"> Community 2</a></li>
        <li><a href="/"> Community 3</a></li>
        <li><a href="/"> Community 4</a></li>
      </ul>
    </div>
  </nav>
  <footer class="background-steel">
    <small class="text-caption">Powered by ©2024.
    </small>
  </footer>
</div> -->
